@media (min-width: 768px) and (max-width: 991.98px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        direction: rtl;
    }
    .logo-box .logo{
        display: block;
    }
    .mobile , .close-box>.close{
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        color: black;
        font-size: 24px;
        cursor: pointer;
    }
    .mobile:hover , .close:hover{
        cursor: pointer;
    }
    .mobile{
        margin-left: 40px;
    }
    .mobile>span , .close>span{
        font-size: 22px;
    }
     .nav-wrapper{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         z-index:3;

     }
     /* display */
    .d-none{
        display: none;
    }
     .nav-box{
         position: absolute;
         right: -1000px;
         top:0;
         z-index: 3;
         padding: 20px;
         background-color: white;
         transition: all .5s ease;
         box-shadow: -5px 5px 20px grey;
         border-bottom-left-radius: 5px;
     }
    .nav{
        width: 300px;
    }
    .nav li a{
        display: block;
        padding: 20px;
        font-size: 18px;
        color: #1A1A1D;
        transition: all .5s ease;
    }
    .nav li a:hover{
        background-color:#003049;
        border-radius: 4px;
        color: #ffffff;
    }
    /* home-banner */
    .home-banner{
        display: flex;
        flex-flow: wrap column;
        align-items: center;

    }
    .home-banner>div:nth-of-type(1)>img{
        width: 700px;
        height: 600px;
    }
    /* features */
    .features{
        flex-wrap: wrap;
    }
    .features>div:nth-of-type(1){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feature-title{
        font-size: 28px;
    }

    .start-parent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features .start-parent .btn-start{
        display: block;
        width: 300px;
        text-align: center;
    }
    /* deal-transport */
    .deal-transport{

    }
    .deal-transport>div{
        margin-bottom: 50px;
    }
    /* platform */
    .platform .btn-start{
        width: 100%;
    }
    
    /* articles */
    .articles-wrapper{
        display: block;
    }
    .articles-wrapper .article-item{
        display: block;
        margin: 50px auto;
    }
    /* edu-videos */

    .video-item{
        width: 350px;
        margin: 50px auto;
    }
    /* footer */
    .footer-wrapper{
        display: block;
    }
    .footer-item{
        margin-bottom: 30px;
    }

}