@media (min-width: 1200px) and (max-width: 1399.98px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        direction: rtl;
    }
    .logo-box .logo{
        display: block;
    }
    .mobile , .close-box{
        display: none;
    }

    .nav{
        list-style: none;
        display: flex;
        align-items: center;
    }
    .nav li a{
        display: block;
        padding: 20px;
        font-size: 18px;
        color: #1A1A1D;
    }
    /* home-banner */
    .home-banner{
        display: flex;
        flex-flow: wrap column;
        align-items: center;

    }
    /* companies logos */
    .companies-logo{
        justify-content: center;
    }
    /* features */
    .features>div:nth-of-type(1){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feature-title{
        font-size: 28px;
    }
    /* deal-transport */
    .deal-transport{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* platform */
    .platform>div:nth-of-type(1)>div:nth-of-type(2){
        margin-right: 100px;
    }
    /* footer */
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
    }

}